@media (max-width: 798px) {
    .toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 15px;
        gap: 13px;

    }

    #main-toolbar {
        left: 46%;
    }

    #lock-bar {
        position: fixed;
        right: 21.3%;
        top: 95%;
        transform: translateY(-50%);
        flex-direction: row;
        display: flex;
    }

    #delete {
        position: fixed;
        top: 95%;
        left: 18.5%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
    }

    .tool {
        width: 40px;
        height: 40px;
        font-size: 17px;
    }

    #colorPicker {
        width: 40px;
        height: 40px;
    }
}


/* Mobile Styles */

@media (max-width: 638px) {
    .toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 8px;
        gap: 5.5px;
    }

    #lock-bar {
        position: fixed;
        right: 23.5%;
        top: 95%;
        transform: translateY(-50%);
        flex-direction: row;
        display: flex;
    }


    #undoredo {
        position: fixed;
        top: 95%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
        padding: 5px 8px;
    }

    #delete {
        position: fixed;
        top: 95%;
        left: 18.5%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
        padding: 5px 8px;
    }

    .tool {
        width: 35px;
        height: 35px;
        font-size: 15px;
    }

    #colorPicker {
        width: 35px;
        height: 35px;
    }

    #zoom-percentage {
        right: 55px;
    }

    #zoom-toolbar {
        padding: 5px 8px;
        gap: 14px;
    }
}

@media (max-width: 500px) {
    .toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 15px;
        gap: 5.5px;
    }

    #main-toolbar {
        left: 50%;
    }

    #lock-bar {
        position: fixed;
        right: 27.4%;
        top: 95%;
        transform: translateY(-50%);
        flex-direction: row;
        display: flex;
        /* padding: 5px 8px; */
    }


    #undoredo {
        position: fixed;
        top: 95%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
        padding: 5px 8px;
    }

    #delete {
        position: fixed;
        top: 95%;
        left: 21%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
    }

    .tool {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }

    #colorPicker {
        width: 30px;
        height: 30px;
    }

    #zoom-percentage {
        top: 50%;
        right: 40px;

    }

    #zoom-toolbar {
        padding: 5px 8px;
        gap: 14px;
    }

    #theme-toggle {
        top: 95%;
        right: 36.2%;
        transform: translateY(-50%);
    }
}

@media (max-width: 430px) {
    .toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        gap: 2px;
    }

    #main-toolbar {
        left: 50%;
    }

    #lock-bar {
        position: fixed;
        right: 32%;
        top: 95%;
        transform: translateY(-50%);
        flex-direction: row;
        display: flex;
        /* padding: 5px 8px; */
    }


    #undoredo {
        position: fixed;
        top: 95%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
        padding: 5px 8px;
    }

    #delete {
        position: fixed;
        top: 95%;
        left: 24%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
    }

    .tool {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }

    #colorPicker {
        width: 30px;
        height: 30px;
    }

    #zoom-percentage {
        top: 50%;
        right: 45px;
    }

    #zoom-toolbar {
        padding: 5px 8px;
        gap: 14px;
    }

    #theme-toggle {
        top: 95%;
        right: 42.4%;
        transform: translateY(-50%);
    }
}

@media (max-width: 390px) {
    .toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 5px;
        gap: 1px;
    }

    #main-toolbar {
        left: 50%;
    }

    #lock-bar {
        position: fixed;
        right: 35%;
        top: 95%;
        transform: translateY(-50%);
        flex-direction: row;
        display: flex;
        /* padding: 5px 8px; */
    }


    #undoredo {
        position: fixed;
        top: 95%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
        padding: 5px 8px;
    }

    #delete {
        position: fixed;
        top: 95%;
        left: 26%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
    }

    .tool {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }

    #colorPicker {
        width: 30px;
        height: 30px;
    }

    #zoom-percentage {
        top: 50%;
        right: 45px;
    }

    #zoom-toolbar {
        padding: 5px 8px;
        gap: 14px;
    }

    #theme-toggle {
        top: 95%;
        right: 46%;
        transform: translateY(-50%);
    }
}