@media (width: 1280px) {

    .delete {
        top: 90%;
        left: 14%;
        padding: 6px;
    }

    .tool {
        width: 45px;
        height: 45px;
        font-size: 20px;
    }

    .sidebar-dropdown {
        top: 100px;
        left: 25px;
        width: 220px;
    }

    .sidebar-content {
        height: 400px;
    }

    .floating-tab {
        top: 100px;
        right: 25px;
        width: 200px;
    }

    .theme-toggle {
        top: 90%;
        right: 16%;
        padding: 6px;
    }

    .theme-btn {
        width: 45px;
        height: 45px;
    }

    .zoom-toolbar {
        top: 90%;
        right: 25px;
        padding: 6px;
        gap: 30px;
    }

    .zoom-in-btn,
    .zoom-out-btn {
        width: 45px;
        height: 45px;
    }

    .undoredo {
        top: 90%;
        left: 25px;
        padding: 6px 10px;
        gap: 12px;
    }
}

@media (width: 1024px) {

    .delete {
        top: 88%;
        left: 18%;
        padding: 6px;
    }

    .tool {
        width: 45px;
        height: 45px;
        font-size: 20px;
    }

    .sidebar-dropdown {
        top: 100px;
        left: 25px;
        width: 220px;
    }

    .sidebar-content {
        height: 400px;
    }

    .floating-tab {
        top: 100px;
        right: 25px;
        width: 200px;
    }

    .theme-toggle {
        top: 88%;
        right: 21%;
        padding: 6px;
    }

    .theme-btn {
        width: 45px;
        height: 45px;
    }

    .zoom-toolbar {
        top: 88%;
        right: 25px;
        padding: 6px;
        gap: 30px;
    }

    .zoom-in-btn,
    .zoom-out-btn {
        width: 45px;
        height: 45px;
    }

    .undoredo {
        top: 88%;
        left: 25px;
        padding: 6px 10px;
        gap: 12px;
    }
}

@media (width: 1200px) {

    .delete {
        top: 88%;
        left: 15%;
        padding: 6px;
    }

    .tool {
        width: 45px;
        height: 45px;
        font-size: 20px;
    }

    .sidebar-dropdown {
        top: 100px;
        left: 25px;
        width: 220px;
    }

    .sidebar-content {
        height: 400px;
    }

    .floating-tab {
        top: 100px;
        right: 25px;
        width: 200px;
    }

    .theme-toggle {
        top: 88%;
        right: 17%;
        padding: 6px;
    }

    .theme-btn {
        width: 45px;
        height: 45px;
    }

    .zoom-toolbar {
        top: 88%;
        right: 25px;
        padding: 6px;
        gap: 30px;
    }

    .zoom-in-btn,
    .zoom-out-btn {
        width: 45px;
        height: 45px;
    }

    .undoredo {
        top: 88%;
        left: 25px;
        padding: 6px 10px;
        gap: 12px;
    }
}

@media (width: 1024px) {

    .delete {
        top: 88%;
        left: 18%;
        padding: 6px;
    }

    .tool {
        width: 45px;
        height: 45px;
        font-size: 20px;
    }

    .sidebar-dropdown {
        top: 100px;
        left: 25px;
        width: 220px;
    }

    .sidebar-content {
        height: 400px;
    }

    .floating-tab {
        top: 100px;
        right: 25px;
        width: 200px;
    }

    .theme-toggle {
        top: 88%;
        right: 21%;
        padding: 6px;
    }

    .theme-btn {
        width: 45px;
        height: 45px;
    }

    .zoom-toolbar {
        top: 88%;
        right: 25px;
        padding: 6px;
        gap: 30px;
    }

    .zoom-in-btn,
    .zoom-out-btn {
        width: 45px;
        height: 45px;
    }

    .undoredo {
        top: 88%;
        left: 25px;
        padding: 6px 10px;
        gap: 12px;
    }
}

@media (width: 853px) {


    .sidebar {
        left: 20px;
        padding: 5px 5px;
        display: flex;
    }

    .color-palate {
        right: 20px;
        padding: 5px 5px;
        display: flex;
    }

    .undoredo {
        top: 92%;
        display: flex;
        flex-direction: row;
    }

    .delete {
        top: 92%;
        left: 18%;
        display: flex;
        flex-direction: row;
    }

    .theme-toggle {
        top: 92%;
        right: 21%;
        display: flex;
    }

    .zoom-toolbar {
        top: 92%;
        right: 20px;
        gap: 25px;
    }

    .zoom-in-btn {
        margin-right: 10px;
    }

    .zoom-out-btn {
        margin-left: 10px;
    }
}

@media (width: 820px) {
    .sidebar {
        left: 20px;
        padding: 5px 5px;
        display: flex;
    }

    .color-palate {
        right: 20px;
        padding: 5px 5px;
        display: flex;
    }

    .undoredo {
        top: 92%;
        display: flex;
        flex-direction: row;
    }

    .delete {
        top: 92%;
        left: 18%;
        display: flex;
        flex-direction: row;
    }

    .theme-toggle {
        top: 92%;
        right: 21%;
        display: flex;
    }

    .zoom-toolbar {
        top: 92%;
        right: 20px;
        gap: 25px;
    }

    .zoom-in-btn {
        margin-right: 10px;
    }

    .zoom-out-btn {
        margin-left: 10px;
    }
}

@media (width: 800px) {

    .sidebar {
        left: 20px;
        padding: 5px 5px;
        display: flex;
    }

    .color-palate {
        right: 20px;
        padding: 5px 5px;
        display: flex;
    }

    .undoredo {
        top: 92%;
        display: flex;
        flex-direction: row;
    }

    .delete {
        top: 92%;
        left: 18%;
        display: flex;
        flex-direction: row;
    }

    .theme-toggle {
        top: 92%;
        right: 21%;
        display: flex;
    }

    .zoom-toolbar {
        top: 92%;
        right: 20px;
        gap: 25px;
    }

    .zoom-in-btn {
        margin-right: 10px;
    }

    .zoom-out-btn {
        margin-left: 10px;
    }
}

@media (max-width: 798px) {
    .toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 15px;
        gap: 5px;
    }

    .sidebar {
        left: 20px;
        padding: 5px 5px;
        display: flex;
    }

    .color-palate {
        right: 20px;
        padding: 5px 5px;
        display: flex;
    }

    .delete {
        top: 92%;
        left: 18%;
        display: flex;
        flex-direction: row;
        padding: 5px 5px;
    }

    .tool {
        width: 40px;
        height: 40px;
        font-size: 17px;
    }

    .sidebar-dropdown {
        top: 110px;
        left: 20px;
    }

    .sidebarbtn {
        width: 35px;
        height: 35px;
        font-size: 15px;
    }

    .floating-tab {
        top: 110px;
        right: 20px;
    }

    .floating-tab .shape-grid {
        height: 140px;
    }

    .theme-toggle {
        top: 92%;
        right: 22.5%;
        display: flex;
        padding: 5px 5px;
    }
}

@media (max-width: 700px) {
    .toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 15px;
        gap: 8px;
    }

    .sidebar {
        left: 20px;
        padding: 3px 3px;
        display: flex;
    }

    .color-palate {
        right: 20px;
        padding: 3px 3px;
        display: flex;
    }

    .undoredo {
        top: 92%;
        display: flex;
        flex-direction: row;
        padding: 6px 8px;
    }

    #undo {
        margin-right: 10px;
    }

    #redo {
        margin-left: 10px;
    }

    .delete {
        position: fixed;
        top: 92%;
        left: 23%;
        display: flex;
        flex-direction: row;
        padding: 6px 6px;
    }

    .tool {
        width: 35px;
        height: 35px;
        font-size: 17px;
    }

    .zoom-toolbar {
        top: 92%;
        right: 20px;
        padding: 3px 3px;
        gap: 25px;
    }

    .zoom-in-btn {
        margin-right: 10px;
    }

    .zoom-out-btn {
        margin-left: 10px;
    }

    .theme-toggle {
        top: 92%;
        right: 23.5%;
        padding: 4px 4px;
    }

    .themebtn {
        width: 35px;
        height: 35px;
        font-size: 15px;
    }

    .sidebar-dropdown {
        top: 130px;
        left: 20px;
        width: 30%;
    }

    .sidebarbtn {
        width: 35px;
        height: 35px;
        font-size: 15px;
    }

    .floating-tab {
        top: 130px;
        right: 20px;
    }

    .floating-tab .shape-grid {
        height: 130px;
    }
}

@media (max-width: 638px) {
    .toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 4px;
        gap: 8px;
    }

    .sidebar {
        left: 20px;
        padding: 3px 3px;
        display: flex;
    }

    .color-palate {
        right: 20px;
        padding: 3px 3px;
        display: flex;
    }

    .undoredo {
        top: 92%;
        display: flex;
        flex-direction: row;
        padding: 6px 8px;
    }

    .delete {
        position: fixed;
        top: 92%;
        left: 25%;
        display: flex;
        flex-direction: row;
        padding: 6px 6px;
    }

    .tool {
        width: 35px;
        height: 35px;
        font-size: 15px;
    }

    .zoom-toolbar {
        top: 92%;
        right: 20px;
        padding: 3px 3px;
        gap: 25px;
    }

    .zoom-in-btn {
        margin-right: 10px;
    }

    .zoom-out-btn {
        margin-left: 10px;
    }

    .theme-toggle {
        top: 92%;
        right: 26%;
        padding: 4px 4px;
    }

    .themebtn {
        width: 35px;
        height: 35px;
        font-size: 15px;
    }

    .sidebar-dropdown {
        top: 130px;
        left: 20px;
        width: 30%;
    }

    .sidebarbtn {
        width: 35px;
        height: 35px;
        font-size: 15px;
    }

    .floating-tab {
        top: 130px;
        right: 20px;
    }

    .floating-tab .shape-grid {
        height: 130px;
    }
}

@media (max-width: 500px) {
    .sidebar-dropdown {
        width: 100%;
        left: -100%;
    }
}

@media (max-width: 500px) {
    .toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 10px;
        gap: 10px;
    }

    .sidebar {
        top: 92%;
        left: 20px;
        padding: 3px 3px;
        display: flex;
    }

    .color-palate {
        top: 92%;
        right: 75.3%;
        padding: 3px 3px;
    }

    .undoredo {
        left: 28%;
        top: 92%;
        display: flex;
        flex-direction: row;
        padding: 8px 8px;
    }

    .delete {
        top: 92%;
        left: 55%;
        display: flex;
        flex-direction: row;
       padding: 4px 4px;
    }

    .tool {
        width: 31px;
        height: 31px;
        font-size: 15px;
    }

    .zoom-toolbar {
        top: 82%;
        right: 20px;
        padding: 3.5px 5px;
        gap: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .zoom-in-btn {
        margin-bottom: 10px;
        margin-right: 0;
    }

    .zoom-out-btn {
        margin-top: 10px;
        margin-left: 0;
    }

    .theme-toggle {
        top: 92%;
        right: 19%;
        padding: 4px 4px;
    }

    .sidebar-dropdown {
        top: 180px;
        left: 20px;
        width: 40%;
    }

    .floating-tab {
        top: 180px;
        right: 20px;
    }

    .floating-tab .shape-grid {
        height: 115px;
    }
}

@media (width: 540px) {
    .toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 10px;
        gap: 10px;
    }

    .sidebar {
        top: 92%;
        left: 20px;
        padding: 3px 3px;
        display: flex;
    }

    .color-palate {
        top: 92%;
        right: 77%;
        padding: 3px 3px;
    }

    .undoredo {
        left: 36%;
        top: 92%;
        display: flex;
        flex-direction: row;
        padding: 8px 8px;
    }

    .delete {
        top: 92%;
        left: 61%;
        display: flex;
        flex-direction: row;
        padding: 8px 8px;
    }

    .tool {
        width: 31px;
        height: 31px;
        font-size: 15px;
    }

    .zoom-toolbar {
        top: 92%;
        right: 20px;
        padding: 3.5px 3px;
        gap: 25px;
    }

    .zoom-in-btn {
        margin-right: 10px;
    }

    .zoom-out-btn {
        margin-left: 10px;
    }

    .theme-toggle {
        top: 92%;
        right: 66%;
        padding: 4px 4px;
    }

    .sidebar-dropdown {
        top: 180px;
        left: 20px;
        width: 40%;
    }

    .floating-tab {
        top: 180px;
        right: 20px;
    }

    .floating-tab .shape-grid {
        height: 115px;
    }
}

@media (max-width: 430px) {
    .toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 10px;
        gap: 6px;
    }

    .sidebar {
        top: 92%;
        left: 20px;
        padding: 5px 5px;
        display: flex;
    }

    .color-palate {
        top: 92%;
        right: 69%;
        padding: 5px 5px;
    }

    .undoredo {
        left: 50%;
        transform: translateX(-50%);
        top: 92%;
        display: flex;
        flex-direction: row;
        padding: 9px 8px;
    }

    #undo {
        margin-right: 10px;
    }

    #redo {
        margin-left: 10px;
    }

    .delete {
        top: 92%;
        left: 70%;
        display: flex;
        flex-direction: row;
    }

    .tool {
        width: 31px;
        height: 31px;
        font-size: 15px;
    }

    /**
     * Hides/disables pinch-zoom functionality for mobile devices
     * This comment is temporarily hidden from view as it affects
     * the mobile user's ability to use pinch-zoom gestures
     */

    .zoom-toolbar {
        top: 92%;
        right: 20px;
        padding: 3.5px 3px;
        gap: 25px;
        display: none;
    }

    .zoom-in-btn {
        margin-right: 10px;
    }

    .zoom-out-btn {
        margin-left: 10px;
    }

    .theme-toggle {
        top: 92%;
        display: flex;
        right: 20px;
        padding: 4px 4px;
    }

    .sidebar-dropdown {
        top: 30%;
        left: 20px;
        width: 45%;
    }

    .floating-tab {
        top: 30%;
        right: 20px;
    }

    .floating-tab .shape-grid {
        height: 115px;
    }
}

@media (max-width: 400px) {
    .toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 10px;
        gap: 5px;
    }

    .sidebar {
        left: 20px;
        padding: 5px 5px;
        display: flex;
        flex-direction: column;
        top: 92%;
    }

    .color-palate {
        padding: 5px 5px;
        display: flex;
        flex-direction: column;
        top: 92%;
        right: 67%;
    }

    .sidebar-dropdown {
        top: 21.5%;
        left: 15px;
        width: 44%;
    }

    .undoredo {
        top: 92%;
        left: 49%;
        display: flex;
        flex-direction: row;
        padding: 10px 8px;
    }

    #undo {
        margin-right: 5px;
    }

    #redo {
        margin-left: 5px;
    }

    .delete {
        top: 92%;
        left: 65.5%;
        display: flex;
        flex-direction: row;
        padding: 10px 10px;
    }

    .tool {
        width: 31px;
        height: 31px;
        font-size: 15px;
    }

    .zoom-toolbar {
        top: 92%;
        right: 20px;
        padding: 3px 3px;
        gap: 25px;
        display: none;
    }

    .zoom-in-btn {
        margin-right: 10px;
    }

    .zoom-out-btn {
        margin-left: 10px;
    }

    .theme-toggle {
        top: 92%;
        right: 20px;
        padding: 6px 6px;
    }

    .floating-tab {
        top: 30%;
        right: 15px;
    }

    .floating-tab .shape-grid {
        height: 116px;
    }
}

@media (max-width: 390px) {
    .toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 5px;
        gap: 5px;
    }

    .sidebar {
        left: 20px;
        padding: 5px 5px;
        display: flex;
        flex-direction: column;
        top: 92%;
    }

    .color-palate {
        padding: 5px 5px;
        display: flex;
        flex-direction: column;
        top: 92%;
        right: 67%;
    }

    .sidebar-dropdown {
        top: 21.5%;
        left: 15px;
        width: 44%;
    }

    .undoredo {
        top: 92%;
        left: 49%;
        display: flex;
        flex-direction: row;
        padding: 10px 8px;
    }

    #undo {
        margin-right: 5px;
    }

    #redo {
        margin-left: 5px;
    }

    .delete {
        top: 92%;
        left: 65.5%;
        display: flex;
        flex-direction: row;
        padding: 10px 10px;
    }

    .tool {
        width: 31px;
        height: 31px;
        font-size: 15px;
    }

    .zoom-toolbar {
        top: 92%;
        right: 20px;
        padding: 3px 3px;
        gap: 25px;
        display: none;
    }

    .zoom-in-btn {
        margin-right: 10px;
    }

    .zoom-out-btn {
        margin-left: 10px;
    }

    .theme-toggle {
        top: 92%;
        right: 20px;
        padding: 6px 6px;
    }

    .floating-tab {
        top: 30%;
        right: 15px;
    }

    .floating-tab .shape-grid {
        height: 116px;
    }

    #fill-color {
        display: none;
    }
}