@media (max-width: 798px) {
    .toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 15px;
        gap: 13px;

    }

    #main-toolbar {
        left: 46%;
    }

    #sidebarmenu {
        right: 39px;
    }

    #lock-bar {
        position: fixed;
        right: 18.5%;
        top: 95%;
        transform: translateY(-50%);
        flex-direction: row;
        display: flex;
    }

    #delete {
        position: fixed;
        top: 95%;
        left: 18.5%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
    }

    .tool {
        width: 40px;
        height: 40px;
        font-size: 17px;
    }

    #colorPicker {
        width: 40px;
        height: 40px;
    }

    #zoom-percentage {
        width: 15.5%;
        height: 3%;

    }
}


/* Mobile Styles */

@media (max-width: 638px) {
    .toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 8px;
        gap: 5.5px;
    }

    #lock-bar {
        position: fixed;
        right: 18.6%;
        top: 95%;
        transform: translateY(-50%);
        flex-direction: row;
        display: flex;
    }


    #undoredo {
        position: fixed;
        top: 95%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
        padding: 5px 8px;
    }

    #delete {
        position: fixed;
        top: 95%;
        left: 18.5%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
        padding: 5px 8px;
    }

    .tool {
        width: 35px;
        height: 35px;
        font-size: 15px;
    }

    #colorPicker {
        width: 35px;
        height: 35px;
    }

    #zoom-percentage {
        width: 15%;
        height: 3%;

    }
}

@media (max-width: 500px) {
    .toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px 5px;
        gap: 5.5px;
    }

    #main-toolbar {
        left: 50%;
    }

    #sidebarmenu {
        top:92.7%;
        right:29.5%;
    }


    #lock-bar {
        position: fixed;
        right: 20.9%;
        top: 95%;
        transform: translateY(-50%);
        flex-direction: row;
        display: flex;
        /* padding: 5px 8px; */
    }


    #undoredo {
        position: fixed;
        top: 95%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
        padding: 5px 8px;
    }

    #delete {
        position: fixed;
        top: 95%;
        left: 21%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
    }

    .tool {
        width: 30px;
        height: 30px;
        font-size: 13px;
    }

    #colorPicker {
        width: 30px;
        height: 30px;
    }

    #zoom-percentage {
        top: 90.5%;
        width: 16.5%;
        height: 3%;

    }
    #zoom-toolbar {
        padding: 5px 8px;
    }
}
