.dot {
  width: 14px;
  height: 14px;
  border-radius: 9999px;
  background: linear-gradient(135deg, #9c0d41, #887f83);
  opacity: 0;
}

@keyframes fadeMove {
  0% {
    transform: translateX(0);
    opacity: 0.3;
  }
  30% {
    opacity: 1;
    transform: translateX(6px);
  }
  60% {
    transform: translateX(12px);
    opacity: 0.4;
  }
  100% {
    transform: translateX(0);
    opacity: 0.3;
  }
}

.animate-fadeMove {
  animation: fadeMove 1.2s infinite ease-in-out;
}
