    body,
    html {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        font-family: Arial, sans-serif;
        background-color: #121212;
    
    }
    
    
    /* Canvas Styles */
    #canvas {
        background-color: #121212;
        cursor: crosshair;
    }
    
    /* Toolbar Styles */
    .toolbar {
        position: fixed;
        top: 15px;
        background-color: #232329;
        backdrop-filter: blur(10px);
        border-radius: 10px;
        padding: 5px 15px;
        display: flex;
        gap: 13px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease, transform 0.3s ease;
        z-index: 1000;
    }
    
    /* Main Toolbar Positioning */
    #main-toolbar {
        left: 50%;
        transform: translateX(-50%);
    }
    
    /* Secondary Toolbar Positioning */
    #sidebarmenu {
        right: 20px;
        padding: 5px 5px;
    }
    
    #undoredo {
        left: 20px;
        position: fixed;
        top: 95%;
        transform: translateY(-50%);
        display: flex;
    }
    
    #delete {
        position: fixed;
        top: 95%;
        left: 155px;
        transform: translateY(-50%);
        display: flex;
    }
    
    /* Zoom Toolbar Styles */
    #zoom-toolbar {
        position: fixed;
        top: 95%;
        right: 20px;
        transform: translateY(-50%);
        display: flex;
    }
    
    #lock-bar { 
        position: absolute;
        left: 3%;
        top: 3%;
        display: flex;
        padding: 5px 5px;
        z-index: 100;
    
        
    
    }
    
    /* Tool Styles */
    .tool {
        width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;
        color: #fff;
        border-radius: 30%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 17px;
        transition: all 0.3s ease, transform 0.3s ease;
    }
    
    /* Tool Hover Styles */
    .tool:hover {
        background-color: #31303B;
        transform: translateY(-5px) scale(1.1);
    }
    
    /* Tool Active Styles */
    .tool.active {
        background-color: #403E6A;
    }
    
    /* Color Picker Styles */
    #colorPicker {
        width: 40px;
        height: 40px;
        padding: 0;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        overflow: hidden;
        transition: all 0.3s ease;
    }
    
    /* Color Picker Hover Styles */
    #colorPicker:hover {
        transform: scale(1.1);
    }
    
    /* Color Picker Webkit Styles */
    #colorPicker::-webkit-color-swatch-wrapper {
        padding: 0;
    }
    
    #colorPicker::-webkit-color-swatch {
        border: none;
        border-radius: 50%;
    }
    
    /* Angle Info Styles */
    #angleInfo {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #232329;
        color: white;
        padding: 5px 10px;
        border-radius: 20px;
        font-size: 15px;
        display: none;
        transition: all 0.3s ease;
    }
        


