@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');


.viewerControl
{
    font-family: "Funnel Display", serif;

}
.viewerNavItem.selected
{
    color: #7ba8f0;
    text-underline-offset: 12px;
}
.viewerControl::-webkit-scrollbar
{
    display: none;
}