@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

.footerName 
{
  font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.heroText 
{
  font-family: "Funnel Display", serif;

}