@media (max-width: 797px) {
    .toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 15px;
        gap: 14px;
    }

    #sidebarmenu {
        position: fixed;
        height: 40px;
        width: 40px;
        left: 166px;
        top: 95%;
        transform: translateY(-50%);
        flex-direction: row;
        display: flex;
    }

    #undoredo {
        position: fixed;
        top: 95%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
        padding: 5px 8px;
    }

    #delete {
        position: fixed;
        top: 95%;
        left: 115px;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
        padding: 5px 8px;
    }

    #lock-bar {
        top: 5%;
        left: 5%;
        position: fixed;
        display: flex;
        flex-direction: row;
        transform: translateY(-50%);
        padding: 5px 8px;
    }

    .tool {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }

    #colorPicker {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 600px) {
    .toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 8px;
        gap: 10px;
    }

    #sidebarmenu {
        position: fixed;
        height: 40px;
        width: 40px;
        left: 166px;
        top: 95%;
        transform: translateY(-50%);
        flex-direction: row;
        display: flex;
    }

    #undoredo {
        position: fixed;
        top: 95%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
        padding: 5px 8px;
    }

    #delete {
        position: fixed;
        top: 95%;
        left: 113px;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
        padding: 5px 8px;
    }

    #lock-bar {
        top: 95%;
        left: 68%;
        position: fixed;
        display: flex;
        flex-direction: row;
        transform: translateY(-50%);
        padding: 5px 8px;
    }   

    .tool {
        width: 30px;
        height: 30px;
        font-size: 12.1px;
    }

    #colorPicker {
        width: 25px;
        height: 25px;
    }
} 
