@media (max-width: 798px) {
    .toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 15px;
        gap: 5px;
    }

    #sidebar {
        left: 20px;
        padding: 8px 8px;
        display: flex;
    }

    #main-toolbar {
        left: 50%;
    }

    #main-toolbar2 {
        display: none;
        position: absolute;
        top: 60px;
        left: 76%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .tool-row {
        display: flex;
        gap: 10px;
    }

    #delete {
        position: fixed;
        top: 95%;
        left: 17%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
    }

    #zoom-percentage {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .tool {
        width: 40px;
        height: 40px;
        font-size: 17px;
    }

    #colorPicker {
        width: 30px;
        height: 30px;
        margin-top: 1px;
    }

    .sidebar-dropdown {
        top: 110px;
        left: 20px;
    }

    .sidebarbtn {
        width: 35px;
        height: 35px;
        font-size: 15px;
    }

    .floating-tab {
        top: 110px;
        right: 20px;
    }

    .floating-tab .shape-grid {
        height: 140px;
    }

    #theme-toggle {
        top: 92%;
        right: 20%;
        display: flex;
        padding: 8px 8px;
    }

    .themebtn {
        width: 35px;
        height: 35px;
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 8px;
        gap: 8px;
    }

    #main-toolbar2 {
        display: none;
        position: absolute;
        top: 95px;
        left: 74%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .tool-row {
        display: flex;
        gap: 10px;
    }

    #sidebar {
        left: 20px;
        padding: 5px 5px;
        display: flex;
    }

    #undoredo {
        position: fixed;
        top: 95%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
        padding: 5px 8px;
    }

    #delete {
        position: fixed;
        top: 95%;
        left: 18%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
        padding: 5px 8px;
    }

    .tool {
        width: 35px;
        height: 35px;
        font-size: 15px;
    }

    #colorPicker {
        width: 30px;
        height: 30px;
    }

    #zoom-percentage {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #zoom-toolbar {
        padding: 5px 8px;
        gap: 14px;
    }

    .colorpalatebtn {
        width: 35px;
        height: 35px;
        font-size: 15px;
    }
}

@media (max-width: 500px) {
    .sidebar-dropdown {
        width: 100%;
        left: -100%;
    }
}


@media (max-width: 638px) {
    .toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 8px;
        gap: 8px;
    }

    #main-toolbar2 {
        display: none;
        position: absolute;
        top: 95px;
        left: 74%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .tool-row {
        display: flex;
        gap: 10px;
    }

    #sidebar {
        left: 20px;
        padding: 5px 5px;
        display: flex;
    }

    #undoredo {
        position: fixed;
        top: 95%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
        padding: 5px 8px;
    }

    #delete {
        position: fixed;
        top: 95%;
        left: 20.5%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
        padding: 5px 8px;
    }

    .tool {
        width: 35px;
        height: 35px;
        font-size: 15px;
    }

    #colorPicker {
        width: 30px;
        height: 30px;
    }

    #zoom-percentage {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #zoom-toolbar {
        padding: 5px 8px;
        gap: 14px;
    }

    #theme-toggle {
        top: 95%;
        right: 25%;
        transform: translateY(-50%);
        padding: 8px 8px;
    }

    .themebtn {
        width: 35px;
        height: 35px;
        font-size: 15px;
    }

    .sidebar-dropdown {
        top: 110px;
        left: 20px;
        width: 30%;
    }

    .sidebarbtn {
        width: 35px;
        height: 35px;
        font-size: 15px;
    }

    .floating-tab {
        top: 110px;
        right: 20px;
    }

    .floating-tab .shape-grid {
        height: 130px;
    }
}

@media (max-width: 500px) {
    .toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 10px;
        gap: 10px;
    }

    #main-toolbar2 {
        display: none;
        position: absolute;
        top: 95px;
        left: 65%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .tool-row {
        display: flex;
        gap: 10px;
    }

    #sidebar {
        top: 92.3%;
        left: 20px;
        padding: 8px 8px;
        display: flex;
    }

    #main-toolbar {
        left: 50%;
    }

    #undoredo {
        left: 27%;
        position: fixed;
        top: 95%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
        padding: 8px 8px;
    }

    #delete {
        position: fixed;
        top: 95%;
        left: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
        padding: 8px 8px;
    }

    .tool {
        width: 31px;
        height: 31px;
        font-size: 15px;
    }

    #colorPicker {
        width: 30px;
        height: 30px;
    }

    #zoom-percentage {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #zoom-toolbar {
        padding: 8px 8px;
        gap: 14px;
    }

    .zoom-in-btn {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }

    .zoom-out-btn {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }

    #theme-toggle {
        top: 95%;
        right: 29%;
        transform: translateY(-50%);
        padding: 8px 8px;
    }

    .themebtn {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }

    .sidebar-dropdown {
        top: 110px;
        left: 20px;
        width: 40%;
    }

    .sidebarbtn {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }

    .floating-tab {
        top: 110px;
        right: 20px;
    }

    .floating-tab .shape-grid {
        height: 110px;
    }

    #color-palate {
        top: 92.3%;
        right: 75%;
    }
}

@media (max-width: 430px) {
    .toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 10px;
        gap: 6px;
    }

    #main-toolbar2 {
        display: none;
        position: absolute;
        top: 95px;
        left: 60%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .tool-row {
        display: flex;
        gap: 10px;
    }

    #sidebar {
        top: 92.5%;
        left: 20px;
        padding: 8px 8px;
        display: flex;
    }

    .sidebarbtn {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }

    #main-toolbar {
        left: 50%;
    }

    #undoredo {
        left: 46%;
        position: fixed;
        top: 95%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
        padding: 8px 8px;
    }

    #delete {
        position: fixed;
        top: 95%;
        left: 70%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
    }

    .tool {
        width: 31px;
        height: 31px;
        font-size: 15px;
    }

    #colorPicker {
        width: 30px;
        height: 30px;
    }

    #zoom-percentage {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #zoom-toolbar {
        padding: 8px 8px;
        gap: 14px;
        display: none;
    }

    .zoom-in-btn {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }

    .zoom-out-btn {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }

    #theme-toggle {
        top: 95%;
        right: 20px;
        transform: translateY(-50%);
    }

    .themebtn {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }

    .sidebar-dropdown {
        top: 30%;
        left: 20px;
        width: 45%;
    }

    .floating-tab {
        top: 30%;
        right: 20px;
    }

    .floating-tab .shape-grid {
        height: 115px;
    }

    #color-palate {
        top: 92.5%;
        right: 71%;
    }
}

@media (max-width: 400px) {
    .toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 10px;
        gap: 5px;
    }

    #main-toolbar2 {
        display: none;
        position: absolute;
        top: 95px;
        left: 59%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .tool-row {
        display: flex;
        gap: 10px;
    }

    #sidebar {
        left: 15px;
        padding: 8px 8px;
        display: flex;
        top: 91.8%;
    }

    .sidebarbtn {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

    .sidebar-dropdown {
        top: 21.5%;
        left: 15px;
        width: 44%;
    }

    #main-toolbar {
        left: 50%;
    }

    #undoredo {
        position: fixed;
        top: 95%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
        padding: 8px 8px;
        left: 43%;
    }

    #delete {
        position: fixed;
        top: 95%;
        left: 68%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
        padding: 8px 8px;
    }

    #fill-color {
        display: none;
    }

    .tool {
        width: 31px;
        height: 31px;
        font-size: 15px;
    }

    #colorPicker {
        width: 25px;
        height: 25px;
    }

    #zoom-percentage {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #zoom-toolbar {
        right: 15px;
        padding: 8px 8px;
        gap: 14px;
        display: none;
    }

    .zoom-in-btn {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

    .zoom-out-btn {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

    .themebtn {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }

    #theme-toggle {
        top: 95%;
        right: 20px;
        transform: translateY(-50%);
        padding: 8px 8px;
    }

    .floating-tab {
        top: 30%;
        right: 15px;
    }

    .floating-tab .shape-grid {
        height: 116px;
    }

    #color-palate {
        top: 91.9%;
        right: 70%;
    }
}