/* Theme transition styles */
body {
    transition: background-color 0.5s ease;
}

#canvas {
    transition: background-color 0.5s ease;
}

.toolbar {
    transition: background-color 0.5s ease;
}

.tool {
    transition: color 0.5s ease, background-color 0.5s ease;
}

#instructions,
#zoom-percentage {
    transition: color 0.5s ease;
}

/* Light theme styles */
body.light-theme {
    background-color: #F9FAFB;
}

body.light-theme #canvas {
    background-color: #F9FAFB;
}

body.light-theme .toolbar {
    border: 1px solid #c8c8c897;
    background: #FCFCFC;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0.1, 0.1, 0, 0.1);
    backdrop-filter: blur(10px);
}

body.light-theme .toolbar-divider {
    background-color: #d4d4d4;
}

body.light-theme .tool {
    color: #000000;
}

body.light-theme .tool:hover {
    background-color: #e0e0e0;
}

body.light-theme .tool.active {
    background-color: #4387f4;
    color: #ffffff;
}

body.light-theme #instructions {
    color: #b3adad;
}

body.light-theme #zoom-percentage {
    color: #000000;
    background-color: #FCFCFC;
    border: none;
    backdrop-filter: none;
    border-radius: none;
}

body.light-theme #strokeWidth {
    color: #000000;
    background-color: #FCFCFC;
}

body.light-theme .floating-tab {
    background: #FCFCFC;
    border: 1px solid #c8c8c897;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

body.light-theme .floating-tab-divider {
    background: #dfdfdf;
}

body.light-theme .shape-btn {
    background: #f0f0f0;
    color: #000000;
    border: 1px solid #e0e0e0;
}

body.light-theme .shape-btn:hover {
    background: #e0e0e0;
}

body.light-theme .shape-btn.active {
    background-color: #4387f4;
    color: #ffffff;
}

body.light-theme .color-btn {
    border: 1px solid #717171;
    box-shadow: none;
}
