@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

body 
{
    overflow: hidden;
}

.authorSectionContainer::-webkit-scrollbar
{
    display: none;
}

