@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
.odometerClock {
    position: absolute;
    top: 90%;
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .digitGroup {
    display: flex;
    gap: 5px;
  }
  
  .colon {
    font-size: 40px;
    font-weight: 900;
    color: #fff;
    text-shadow: 0 0 3px #fff;
    margin-top: -5px;
  }
  
  .digitContainer {
    width: 30px;
    height: 50px;
    overflow: hidden;
    position: relative;
    border-radius: 6px;
    background: transparent;
    /* box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1); */
  }
  
  .digitStrip {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease, filter 0.3s ease;
  will-change: transform, filter;
  }
  
  .digit {
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 36px;
    color: #fff;
    font-weight: 700;
    text-shadow: 0 0 3px #fff;
    font-family: "Orbitron", sans-serif;
  }

  .am_or_pm
  {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 3px #fff;
    margin-top: -5px;
    font-family: "Orbitron", sans-serif;
    margin-left: 10px;
  }

  @media (max-width: 768px) {
    .odometerClock {
      top: 90%; /* Adjusted for smaller screens */
      gap: 3px;
    }
  
    .colon {
      font-size: 25px;
    }
  
    .digitContainer {
      width: 20px;
      height: 35px;
    }
  
    .digit {
      font-size: 25px;
      line-height: 35px;
    }
  
    .am_or_pm {
      font-size: 18px;
    }
  }