.lineSideBar {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 250px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 70%;
    background-color: #232329;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 20px;
    transition: 0.25s;
    border-left: 1px solid #000;
    z-index: 10; 
    overflow: hidden;
}

.lineSideBar.hidden {
    opacity: 0;
    transform: translateY(-50%) translateX(-100%); /* Modified transform for a smoother hiding effect */
    pointer-events: none;
    transition: all 0.25s ease-in-out; /* More comprehensive transition */
    z-index: -1;
}

.lineSideBar::-webkit-scrollbar {
    display: none;
}

.lineColorLabel,
.lineThicknessLabel,
.lineStyleLabel,
.lineSlopeLabel,
.lineEdgeLabel
{
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
    font-family: "Kanit", serif;
    font-weight: 300;
    margin-top: 0px;
}

.lineColor,
.lineThickness,
.lineStyle,
.lineSlope,
.lineEdge
{
    position: relative;
    top: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 50px;
    margin-bottom: 20px;
    gap: 5px;
    left: 3%;
    align-items: center; 
    padding: 0 10px; 
    box-sizing: border-box; 
    overflow: hidden;
}

.lineThickness 
{
    justify-content: left; 
     gap: 10px;
}
.lineColor span 
{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin: 0 5px;
    margin-bottom: 10px;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.25s;
    flex-shrink: 0; /* Prevent shrinking */
}
.lineColor span.selected 
{
    border: 2px solid #b8a4f4;
    transition: 0.25s;
}

.lineColor span:nth-child(1) { background-color: #fff; }
.lineColor span:nth-child(2) { background: #FF8383; }
.lineColor span:nth-child(3) { background-color: #3A994C; }
.lineColor span:nth-child(4) { background-color: #56A2E8; }
.lineColor span:nth-child(5) { background: #FFD700; }

.lineThickness span 
{
    width: 40px;
    height: 40px;
    position: relative;
    left: 0;
    border-radius: 10px;
    margin: 0 5px;
    cursor: pointer;
    color: #fff;
    background: #31303B;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
    transition: 0.25s;
    flex-shrink: 0; /* Prevent shrinking */
}
.lineThickness span.selected 
{
    background: #444480;
    transition: 0.25s;
}

.lineThickness span:nth-child(1) { font-weight: 100; }
.lineThickness span:nth-child(2) { font-weight: 500; }
.lineThickness span:nth-child(3) { font-weight: 700; }

.lineStyle 
{
    gap: 20px;
}
.lineStyle span {
    width: 35px;
    height: 35px;
    left: 10%;
    border-radius: 10px;
    margin: 0; /* Remove left-right margins */
    cursor: pointer;
    color: #fff;
    background: #31303B;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: 0.25s;
    border: 2px solid transparent;
    flex-shrink: 0; /* Prevent shrinking */
}
.lineStyle span.selected {
    background: #444480;
    border: 2px solid #3c09d6;
    transition: 0.25s;
    transform: scale(1.1); /* Using transform instead of scale */
}
.lineStyle span svg {
    width: 30px;
    height: 30px;
    stroke: #fff;
    transition: 0.25s;
}
.lineStyle span.selected svg {
    stroke: #FFD700;
}

.lineSlope 
{
    gap: 20px;
}

.lineSlope span 
{
    width: 35px;
    height: 35px;
    left: 10%;
    border-radius: 10px;
    margin: 0; /* Remove left-right margins */
    cursor: pointer;
    color: #fff;
    background: #31303B;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: 0.25s;
    border: 2px solid transparent;
    flex-shrink: 0; /* Prevent shrinking */
}
.lineSlope span.selected 
{
    background: #444480;
    border: 2px solid #3c09d6;
    transition: 0.25s;
    transform: scale(1.1); /* Using transform instead of scale */
}

.lineEdge 
{
    gap: 20px;
}

.lineEdge span 
{
    width: 35px;
    height: 35px;
    left: 10%;
    border-radius: 10px;
    margin: 0; /* Remove left-right margins */
    cursor: pointer;
    color: #fff;
    background: #31303B;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: 0.25s;
    border: 2px solid transparent;
    flex-shrink: 0; /* Prevent shrinking */
}

.lineEdge span.selected 
{
    background: #444480;
    border: 2px solid #3c09d6;
    transition: 0.25s;
    transform: scale(1.1); /* Using transform instead of scale */
}