@font-face 
{
    font-family: "lixFont";
    src: url(../FONT/lixFont.woff2);
    font-weight: normal;
    font-size: normal;
}

@font-face
{
    font-family: 'lixCode';
    src: url(../FONT/lixCode.ttf);
    font-weight: normal;
    font-size: normal;
}

@font-face
{
    font-family: 'lixDefault';
    src: url(../FONT/lixDefault.ttf);
    font-weight: normal;
    font-size: normal;
}   

@font-face
{
    font-family: 'lixFancy';
    src: url(../FONT/lixFancy.ttf);
    font-weight: normal;
    font-size: normal;
}

#textElement
{
    height: 500px;
    width: auto;
    resize: none;
    background: transparent;
    color: #fff;
    font-family: 'lixFont', sans-serif;
    font-size: 30px;
    border: none;
    outline: none;
    overflow: visible;
    white-space: pre-wrap;  
}
#textElement::-webkit-scrollbar
{
    display: none;
}

#freehand-canvas > g 
{
    user-select: none;
 
}



textarea::-webkit-scrollbar
{
    display: none;
}

textarea {
    position: absolute;
    left: 926.401px;
    top: 268.57px;
    width: fit-content;
    height: fit-content;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: lixFont;
    text-align: left;
    border: none;
    outline: none;
    background: transparent;
    resize: none;
    overflow: visible hidden;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

textarea.svg-text-editor
{
    background: transparent;
}

